<div class="container" style="height:540px">
    <div id="cf3">
        <img class="bottom" src="imgs/bg.jpg" style="width:1040px;height:400px">
        <div style="padding-top:50px;padding-left:50px;">
            <p>In Weather - Now you all can update weather everyday and get to know correct weather status in regional areas. You can raise your score by providing exact information</p>
            <p> For more details: <a href ="mailto:teammatrixb14@gmail.com"> teammatrixb14@gmail.com</a></p>
        </div>

    </div>
</div>