<header class="header">
<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-group mb-0">
                    <div class="card p-2" >
                        <form name="Form" novalidate>
                        <div class="card-block">
                            <div class="card-block row">
                                <button type="button" ui-sref="appSimple.register"class="btn btn-outline-secondary btn-lg col-md-6">Sign Up</button>
                                <button type="button" class="btn btn-outline-primary btn-lg active col-md-6">Login</button>
                            </div>
                            <h1>Login</h1>
                            <div class="input-group mb-1">
                                <span class="input-group-addon"><i class="icon-user"></i>
                                </span>
                                <input type="text" ng-model="details.username" class="form-control" name="name" placeholder="Username" required >
                                <span style="color:red" ng-show="Form.name.$dirty && Form.name.$error.required">User name is required</span>
                                
                            </div>
                            <div class="input-group mb-2">
                                <span class="input-group-addon"><i class="icon-lock"></i>
                                </span>
                                <input type="password" ng-model="details.password" class="form-control" placeholder="Password" name="password" required>
                                <span style="color:red" ng-show="Form.password.$dirty && Form.password.$error.required">Password is required</span>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <button ng-click="login()" type="button"  ng-disabled="Form.$invalid" class="btn btn-primary px-2">Login</button>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</header>